.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  padding: 5em;
}

.forms {
  display: flex;
  gap: 2em;
  min-height: 8em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2em;
}